#home-header{
    
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

#home-socials > li{
    list-style-type: none;
    display: inline;
    margin: 5vw;
}

#home-socials > li > img{
    width: 8vh;
    height: auto;
}

#nav > li{
    margin-left: 2vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    list-style-type: none;
    color: #F4F3EE;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: 300;
}