#home-header{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

#home-socials > li{
    list-style-type: none;
    display: inline;
}

#home-socials > li > img{
    width: 8vh;
    height: auto;
    border-left: 2px solid black;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#home-socials > li:first-of-type > img{
    border-left: none;
}

#nav > li{
    margin-left: 2vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    color: #F4F3EE;
}

#nav > li > a:visited, a:link{
    color: #F4F3EE;
}

#nav > li > a:before{
    background-color: white;
}

