.social{
    width: 8vh;
    height: auto;
}

#home-header{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#home-main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #181818;
}

#home-container-left{
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: #8A817C; 
}

#home-container-top-left{
    display: flex;
    flex-direction: column;
    height: 80%;
    background-color: #F4F3EE;
}

#home-container-bottom-left{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#home-container-bottom-left  > ul > li{
    list-style-type: none;
    display: inline;
    margin: 5vw;
}


#home-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-container-right > ul > li{
    margin-left: 2vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    list-style-type: none;
    color: #F4F3EE;
    font-size: 200%;
}